<section id="tools-nav">
   <div class="container d-flex justify-content-center py-4">
      <a href="{% url 'checklist-all' %}" class="tool d-flex flex-column align-items-center">
         <i class="fas fa-tasks"></i>
         <span>Отслеживание задач</span>
      </a>
      <a href="{% url 'budget-manager' %}" class="tool d-flex flex-column align-items-center">
         <i class="fas fa-hand-holding-usd"></i>
         <span>Контроль расходов</span>
      </a>
      <a href="{% url 'guestlist' %}" class="tool d-flex flex-column align-items-center">
         <i class="fas fa-user-plus"></i>
         <span>Список гостей</span>
      </a>
   </div>
</section>