{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="container center">
   <br><br><br>
   <h2>Wedvice Логин пользователя</h2><br>

   <form action="{% url 'login' %}" method="POST" novalidate>
      {% csrf_token %}

      {% for field in form.visible_fields %}
         <div class="form-group mb-3">
            {{ field.label_tag }}
            {% render_field field class+="form-control" %}
            {% for error in field.errors %}
               <span style="color:red">{{ error }}</span>
            {% endfor %}
         </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Логин</button>

      <br><br><br>
      <span>Вы администратор??</span><br>
      <a href="{% url 'admin:index' %}?next={% url 'home' %}">Вход администратор</a>

      <br><br>
      <span>У вас еще нет учетной записи?</span><br>
      <a href="{% url 'register' %}">Создать аккаунт</a>
      <br><br>
      <a class="btn btn-secondary" href="{% url 'home' %}">Назад на главную</a>
   </form>
</div>

{% endblock %}